body {
    margin: 0 auto;
    text-align: center;
}


a {
    text-decoration: none;
}
li {
    list-style: none;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}
.title {
    text-align: center;
    
    color: white;
}
.jumbotron {
    background-image: url("img_1.jpg");
    background-repeat: round;
}